{:paths ["src"]
 :deps {org.clojars.oakes/tools.reader {:mvn/version "1.0.0-2019.01.19"
                                        :exclusions [org.clojure/clojure]}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.9.946"}}}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}}}}
