{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0" :scope "provided"}
        org.clojars.oakes/tools.reader {:mvn/version "1.0.0-2019.01.19"
                                        :exclusions [org.clojure/clojure]}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.9.946"}}}}}
